body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.img-left, .img-right{
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.img-left{
  float: left;
  width: 300px;
  margin-right: 15px;
}
.img-right {
  float: right;
  width: 300px;
  margin-left: 15px;
}